<section class='home'>
  <div class='home__endpoint'>
    <i class='las la-plug'></i>
    <a href='/methods'>API Endpoints</a>
  </div>
  <div class='home__endpoint'>
    <i class='las la-user-plus'></i>
    <a href='/signup'>Sign Up</a>
  </div>
  <div class='home__endpoint'>
    <i class='las la-sign-in-alt'></i>
    <a href='/signin'>Sign In</a>
  </div>
</section>
