<section class='methods'>
  <button><a href='/endpoints/{{endpoint}}/get'>GET</a></button>
  <button><a href='/endpoints/{{endpoint}}/post'>POST</a></button>
  <button><a href='/endpoints/{{endpoint}}/update'>UPDATE</a></button>
  <button><a href='/endpoints/{{endpoint}}/delete'>DELETE</a></button>
</section>
