<form class='form form-signup' method='POST'>
  <h2 class='form__title'>Đăng ký</h2>
  <div class='form-group'>
    <div class='form-group__main'>
      <label for='username'>Tên đăng nhập</label>
      <input type='text' name='username' id='username' />
    </div>
  </div>

  <div class='form-group'>
    <div class='form-group__main'>
      <label for='password'>Mật khẩu</label>
      <input type='password' name='password' id='password' />
    </div>
  </div>

  <button class='btn btn--primary'>Đăng ký</button>
</form>

<script src={{script}}></script>
