<section class='delete'>
  <form class='form form-delete'>
    <div class='form-container'>
      <div class='form-group'>
        <div class='form-group__main'>
          <label for='id'>Nhập vào id cần xóa</label>
          <input type='text' id='id' name='id' />
        </div>
      </div>

      <button type='submit' class='btn btn--primary'>Xóa</button>
    </div>
  </form>
</section>

<script src={{script}}></script>
