@use '../abstracts/mixins' as *;
@use '../themes' as *;

.header {
  @include flex(space-between, center);
  padding: 1.2em;
  &__button {
    font-size: 3rem;
  }
  &__nav {
    font-size: 2.5rem;
    ul {
      display: flex;
      gap: 0.5em;
    }
    &__username {
      font-size: 1.5rem;
    }
  }
}
