@use '../abstracts/variables' as *;

$main-background: $light-background;
$side-background: $lighter-background;
$main-text: $dark-text;
$side-text: $white-text;
$primary: $dark-primary;
$danger: $red;
$border: $dark-text;
