<section class='endpoints'>
  <button><a href='/endpoints/phones'>Phones</a></button>
  <button><a href='/endpoints/reviews'>Reviews</a></button>
  <button><a href='/endpoints/users'>Users</a></button>
</section>
