<section class='methods'>
  <button><a href='/methods/get'>GET</a></button>
  <button><a href='/methods/post'>POST</a></button>
  <button><a href='/methods/update'>UPDATE</a></button>
  <button><a href='/methods/delete'>DELETE</a></button>
</section>
