@use '../abstracts/variables' as *;
@use '../themes' as *;

.phone {
  border: 1px solid $border;
  padding: 1em;
  &__title {
    font-weight: $semi-bold;
  }
  &__price {
    font-weight: $light;
    &::after {
      content: 'vnd';
    }
  }
}
