@use '../themes' as *;
@use '../abstracts/variables' as *;

body {
  overflow: auto;
  background-color: $main-background;
}

button {
  background: none;
  border: none;
}

input {
  padding: 0.25em;
  border: 1px solid $gray-background;
}

:focus {
  background-color: $gray-background;
  outline: 1px dashed black;
}
