$global-font: Quicksand, sans-serif;

$light-background: hsl(36, 24%, 98%);
$lighter-background: hsl(36, 24%, 99%);
$gray-background: hsl(60, 2%, 87%);
$dark-text: hsl(0, 0%, 13%);
$white-text: hsl(36, 24%, 96%);
$dark-primary: hsl(344, 50%, 69%);

$red: hsl(0, 98%, 68%);

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
