<section class='links'>
  <div class='links__endpoint'>
    <p>GET</p>
    <a href='/api/{{apiVer}}/phones'>/api/{{apiVer}}/phones</a>
  </div>
  <div class='links__endpoint'>
    <p>GET</p>
    <a
      href='/api/{{apiVer}}/phones/6257b5b5265535e2c810e6df'
    >/api/{{apiVer}}/phones/:id</a>
  </div>
</section>
